/* изменение внешнего видв панели навигации при различной ширине экрана */

#content {
	z-index: 9998;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	row-gap: 20px;
	column-gap: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 20px;
	padding: 10px;
	padding-left: 20px;
	background-color: darkblue;
}

.box1 {
	flex-grow: 10;
	font-size: 16px;
	text-align: left;
	color:floralwhite;
	margin-right: auto;
}

.box1o {
	flex-grow: 1;
	font-size: 20px;
	text-align: left;
	color: floralwhite;
	margin-right: 0px;
	position: fixed;
	right: 20px;
	top: 22px;
	user-select: none;
	z-index: 9999;
}

.box1c {
	flex-grow: 1;
	font-size: 30px;
	text-align: left;
	color: floralwhite;
	margin-right: 0px;
	position: fixed;
	right: 20px;
	top: 20px;
	user-select: none;
	z-index: 9999;
}
  
.box2 {
	flex-grow: 1;
	text-align: center;
	color: floralwhite;
	margin-right: 30px;
}

.box1 .name {
	font-size: 30px;
	font-family: sans-serif;
}

a {
	font-size: 16px;
	font-family: sans-serif;
}

a:link {
	text-decoration: none; 
	color: floralwhite;
}

a:active {
	text-decoration: none;
	color: floralwhite; 
}

a:visited {
	text-decoration: none;
	color: floralwhite;
}

a:hover {
	text-decoration: none;
	color: cornflowerblue;
}

@media (min-width: 0px) {	
	#content {
		flex-direction: column;
	}
}

@media (min-width: 800px) {
	
	#content {
		flex-direction: row;
	}
}